# --------- python --------- #
numpy
matplotlib
pandas
scipy
ipykernel

# --------- pytorch --------- #
# torch
# torchaudio
# torchvision
pytorch-lightning
jsonargparse[signatures]
torchmetrics

# --------- loggers --------- #
# tensorboard
wandb
# neptune-client
# mlflow
# comet-ml

# --------- custom --------- #

# --------- misc --------- #
tqdm
rich
pyrootutils
python-dotenv
debugpy
